<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <title>Door Events</title>
    <!-- W3.CSS CDN -->
    <link rel="stylesheet" href="/static/w3.css">
</head>
<body class="w3-light-grey">

    <div class="w3-container w3-center w3-padding-8">
        <h2 class="w3-text-brown">Puerta limpieza</h2>
    </div>

    <div class="w3-container">
        <table class="w3-table w3-bordered w3-striped w3-white w3-card-4">
            <thead class="w3-brown">
                <tr>
                    <th>ID</th>
                    <th>Puerta</th>
                    <th>Estado</th>
                    <th>RSSI</th>
                    <th>SNR</th>
                    <th>Batería</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.device_id }}</td>
                    <td>{{ row.state }}</td>
                    <td>{{ row.rssi }}</td>
                    <td>{{ row.snr }}</td>
                    <td>{{ row.battery }}</td>
                    <td>{{ row.timestamp_str }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="w3-container w3-center w3-padding-16">
        <p>Auto-refresh every 5 seconds</p>
    </div>

</body>
</html>